.email {
   font-family: Poppins;
   font-size: 24px;
}

.sign-off {
   font-family: Poppins;
   font-size: 16px;
   text-decoration-line: underline;
   text-transform: uppercase;
   color: #c6558b;
   cursor: pointer;
}
