* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

.root {
   margin-top: 70px;
}

/* body {
   background-image: ;
} */

section {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}
